*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}
.bg-login{
    background-image: url('../img/loginWebLargue.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.container-login{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #07334e;
    transform: translate(0, -10px);
}
.btn-ingresar{
    background-color: red;
    color: #07334e;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}
.btn-ingresar:hover{
    transform: scale(1.1);
}
.btn-registrar{
    background-color: #f1f1f1;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}
.btn-registrar:hover{
    transform: scale(1.1);
}

